.u-section-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 854px;
  margin: 37px 274px 0 auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 809px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 509px;
  }
}